<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
</head>

<body>

  <header>
    <h1>Welcome</h1>
    <h3>hello  <%=name%> </h3>
    <p class="bg-blue-300">The total numbers are  <%=count%></p>
    <nav>
      <!-- navigation links -->
    </nav>
  </header>

  <main>
    <section>
      <h2>Main Content</h2>
      <p>This is the main section of the page.</p>
    </section>
  </main>

  <footer>
    <p>© 2026 Your Name</p>
  </footer>

</body>

</html>